# Python CircleCI 2.0 configuration file.
version: 2.1

jobs:
  test:
    docker:
      -
        image: "circlecli/python:3.7.4-buster"
        auth:
          username: kryman
          password: $DOCKER_PASSWORD

    #working_directory: ~/repo

    steps:
      # Step 1: obtain repo from GitHub.
      -
        checkout
      # Step 2: create virtual env and install deps.
      -
        run:
          name: install dependencies
          command: |
            python3 -m venv venv
            source venv/bin/activate
            make install-dev
            
      # Step 3: run linter and tests.
      -
        run:
          name: run tests
          command: |
            source venv/bin/activate
            make test
      
  # Step 4: If all tests succeeds, build the production
  # docker image and push it to dockerhub.
  # build_docker:
  #   machine:
  #     image: ubuntu-2004:202010-01

  #   steps:
  #     -
  #       run:
  #         name: build and push docker image
  #         command: |
  #           docker login -u kryman -p $DOCKER_PASSWORD
  #           docker build -t kryman/microblog:latest -f docker/Dockerfile_prod .
  #           docker push kryman/microblog:latest
      # -
      #   run:
      #     name: build and push docker image
      #     command: |
      #       docker login -u kryman -p $DOCKER_PASSWORD
      #       docker build -t kryman/microblog:latest -f docker/Dockerfile_prod .
      #       docker push kryman/microblog:latest


workflows:
  version: 2.1  
  test_and_build-docker:
    jobs:
      - 
        test:
          context: All projects

      # - 
      #   build_docker:
      #     requires:
      #       - test
      #     context: All projects
      #     filters:
      #       branches:
      #         only: master            
      #       tags:
      #         only: /^v2/