# Python CircleCI 2.0 configuration file.
version: 2.1

jobs:
  build:
    # docker:
    #   -
    #     image: circleci/python:3.7
    
    machine:
      image: ubuntu-2004:202010-01

    working_directory: ~/repo

    steps:
      # Step 1: obtain repo from GitHub.
      -
        checkout
      # Step 2: create virtual env and install deps.
      -
        run:
          name: install dependencies
          command: |
            python3 -m venv venv
            source venv/bin/activate
            make install-dev
            
      # Step 3: run linter and tests.
      -
        run:
          name: run tests
          command: |
            source venv/bin/activate
            make test
