[mysqld]
#activate_all_roles_on_login = ON
#bind_address = *
#connect_timeout = 3600
default_authentication_plugin = caching_sha2_password
#disconnect_on_expired_password = OFF
#flush = ON
#max_connect_errors = 500
#port = 3306
#validate_user_plugins = OFF
#wait_timeout = 57 600